---
import Layout from '@layouts/MainLayout.astro';
// compoents
import Navbar from '@components/navbar/Navbar.astro';
import Footer from '@components/Footer.astro';
import BtnPrimary from '@components/button/Primary.astro';
import BtnSecondary from '@components/button/Secondary.astro';
// css
import '@styles/submit-success.css';
// images
import { Image } from 'astro:assets';
import iConfetti from '@assets/icons/order/confetti.svg';
// wa link
const cLink =
  'https://wa.me/+628562376627?text=Halo%20Wadda.%0A%0ANama%20saya%20%5Bnama%20Anda%5D,%20akan%20menikah%20pada%20%5Btanggal%5D.%20Saya%20telah%20mengisi%20formulir%20data%20pernikahan%20untuk%20memesan%20layanan%20undangan%20pernikahan%20digital.%0A%0ATerima%20kasih,%0A%5BNama%20Anda%5D';

// seo
import { SUBMIT_SUCCESS_PAGE } from '@data/seo';
---

<Layout
  title={SUBMIT_SUCCESS_PAGE.title}
  desc={SUBMIT_SUCCESS_PAGE.desc}
  image={SUBMIT_SUCCESS_PAGE.image}
  domain={SUBMIT_SUCCESS_PAGE.domain}
  url={SUBMIT_SUCCESS_PAGE.url}
>
  <Navbar />
  <main>
    <!-- submit success section -->
    <section class='submit-success'>
      <div class='container'>
        <div class='row'>
          <div
            class='col d-flex flex-column justify-content-center align-items-center'
          >
            <div class='img-wrapper'>
              <Image
                src={iConfetti}
                class='icon rounded-circle'
                alt='img-success'
              />
            </div>
            <div class='text-wrapper text-center mt-4'>
              <h1>Data Berhasil Terkirim</h1>
              <p class='text-secondary'>
                Mohon ditunggu. Tim kami sedang membuatkan undangan anda, akan
                selesai dalam 1x24 jam. <br class='d-none d-lg-block' />
                Setelah itu kami akan mengirim link undangan melalui kontak anda!
              </p>
            </div>
            <div class='cta-wrapper d-flex flex-column gap-2 mt-2'>
              <div class='d-flex justify-content-center'>
                <BtnPrimary
                  href='/'
                  text='Kembali ke Home'
                  style='flex-grow-1 flex-sm-grow-0'
                  target=''
                />
              </div>
              <div class='d-flex justify-content-center'>
                <BtnSecondary
                  href={cLink}
                  text='Konfirmasi Pesanan'
                  style='flex-grow-1 flex-sm-grow-0'
                  target='_blank'
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- submit success section end -->
    </section>
    <Footer />
  </main>
</Layout>
